.page-footer {
  padding: 100px 0;
  background-color: var(--navy-blue);
}

.footer-description {
  color: var(--cloud);
}

.footer-logo {
  color: var(--cloud);
  padding: 0;
  margin-bottom: 16px;
}

.footer-description {
  max-width: 264px;
}
