.header {
  border-bottom: 1px solid var(--cornflower);
}

.container-header {
  display: flex;
}

.header-nav {
  margin-right: 340px;
  padding-left: 76px;
}

.header-nav-list {
  display: flex;
  gap: 40px;
}

.header-address-list {
  display: flex;
  gap: 40px;
}

.logo,
.header-nav-list-item-link,
.header-address-list-item-link {
  display: block;
  padding: 24px 0;
}

.header-logo {
  font-family: var(--second-family);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  color: var(--navy-blue);
}

/*-------------header section-----------------*/

.header-nav-list-item-link {
  font-weight: 500;
  color: var(--navy-blue);
}

.header-nav-list-item-link:hover,
.header-address-list-item-link:hover,
.header-nav-list-item-link:focus,
.header-address-list-item-link:focus {
  color: var(--ocean);
}
